<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<div class="container">
  <a href="/">
    <h1 class="title">SURF</h1>
  </a>
  <h2 class="description">Counter-Strike Surf Community </h2>
  <nav class="nav">
    <ul>
      <li><a href="{{ url_for('servers') }}"><i class="fas fa-gamepad"></i>SERVERS</a></li>
      <li class="active"><a href="{{ url_for('top') }}"><i class="fas fa-chart-line"></i>STATS</a></li>
      <li><a href="http://join.lasagna.host"><i class="fab fa-discord"></i>DISCORD</a></li>
    </ul>
  </nav>
  <nav class="subnav">
    <ul>
      <li ><a href="{{ url_for('top') }}">Top</a></li>
      <li><a href="{{ url_for('latest') }}">Latest</a></li>
      <li class="active"><a href="{{ url_for('players') }}">Players</a></li>
      <li><a href="{{ url_for('maps') }}">Maps</a></li>
  </ul>
  </nav>
  <h1>Recent Players</h1>
  <div class="total-container">
    <div class="total-box">
      <h2>Total Players</h2>
      <p>{{numplayers}}</p>
    </div>
    <div class="total-box">
      <h2>Most Points</h2>
      <p><a href="{{ url_for('player_stats', steamid64=mostpoints.steamid64) }}">{{mostpoints.name}}</a></p>
    </div>
    <div class="total-box">
      <h2>Newest Player</h2>
      <p><a href="{{ url_for('player_stats', steamid64=newestplayer.steamid64) }}">{{newestplayer.name}}</a></p>
    </div>
  </div>
  <div class="table-wrapper">
    <table id="sortable-table">
      <thead>
        <tr>
          <th>
            Name
            <span class="sort-icon" onclick="sortTable(0)">
              <i class="fas fa-sort"></i>
            </span>
          </th>
          <th>
            Country
            <span class="sort-icon" onclick="sortTable(1)">
              <i class="fas fa-sort"></i>
            </span>
          </th>
          <th>
            Points
            <span class="sort-icon" onclick="sortTable(2)">
              <i class="fas fa-sort"></i>
            </span>
          </th>
          <th>
            Finished Maps
            <span class="sort-icon" onclick="sortTable(3)">
              <i class="fas fa-sort"></i>
            </span>
          </th>
          <th>
            Records
            <span class="sort-icon" onclick="sortTable(4)">
              <i class="fas fa-sort"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.country }}</td>
          <td>{{ row.points }}</td>
          <td>{{ row.finishedmaps }}/105</td>
          <td>{{ row.wrs }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <script>
    function sortTable(columnIndex) {
      const table = document.getElementById("sortable-table");
      const tbody = table.querySelector("tbody");
      const rows = Array.from(tbody.getElementsByTagName("tr"));
  
      const ascending = table.classList.toggle("ascend");
      
      rows.sort((rowA, rowB) => {
        const cellA = rowA.getElementsByTagName("td")[columnIndex].innerText;
        const cellB = rowB.getElementsByTagName("td")[columnIndex].innerText;
  
        if (columnIndex === 2 || columnIndex === 3 || columnIndex === 4) {
          return (parseInt(cellA) - parseInt(cellB)) * (ascending ? 1 : -1);
        } else {
          return cellA.localeCompare(cellB) * (ascending ? 1 : -1);
        }
      });
  
      for (let row of rows) {
        tbody.appendChild(row);
      }
  
      // Reset sort icons
      const sortIcons = table.getElementsByClassName("sort-icon");
      for (let icon of sortIcons) {
        icon.innerHTML = '<i class="fas fa-sort"></i>';
      }
  
      // Update sort icon for the clicked column
      const clickedIcon = table.getElementsByTagName("th")[columnIndex].getElementsByClassName("sort-icon")[0];
      clickedIcon.innerHTML = ascending ? '<i class="fas fa-sort-up"></i>' : '<i class="fas fa-sort-down"></i>';
    }
  </script>
</div>

<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>