<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<div class="container">
    <a href="/">
        <h1 class="title">SURF</h1>
    </a>
    <h2 class="description">Counter-Strike Surf Community </h2>
    <nav class="nav">
        <ul>
            <li><a href="{{ url_for('servers') }}"><i class="fas fa-gamepad"></i>SERVERS</a></li>
            <li class="active"><a href="{{ url_for('top') }}"><i class="fas fa-chart-line"></i>STATS</a></li>
            <li><a href="http://join.lasagna.host"><i class="fab fa-discord"></i>DISCORD</a></li>
        </ul>
    </nav>
    <nav class="subnav">
        <ul>
            <li><a href="{{ url_for('top') }}">Top</a></li>
            <li><a href="{{ url_for('latest') }}">Latest</a></li>
            <li><a href="{{ url_for('players') }}">Players</a></li>
            <li><a href="{{ url_for('maps') }}">Maps</a></li>
        </ul>
    </nav>

    {% if data %}
    <div class="player-info splitleft">
        <h1><a href="https://steamcommunity.com/profiles/{{ data.steamid64 }}">{{ data.name }}</a></h1>
        <img src="{{ profile_picture_url }}" alt="Profile Picture">
        <p><strong>points:</strong> {{ data.points }}</p>
        <p><strong>finishedmaps:</strong> {{ data.finishedmaps }}</p>
        <p><strong>wrs:</strong> {{ data.wrs }}</p>
        <p><strong>wrbs:</strong> {{ data.wrbs }}</p>
        <p><strong>top10s:</strong> {{ data.top10s }}</p>
        <p><strong>lastseen:</strong> {{ data.lastseen }}</p>
        <p><strong>joined:</strong> {{ data.joined }}</p>
        <p><strong>connections:</strong> {{ data.connections }}</p>
    </div>
    <div class="table-wrapper splitright">
        <table>
            <thead>
                <tr>
                    <th>map</th>
                    <th>runtime</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data2 %}
                <tr>
                    <td><a href="{{url_for('map', mapname=row.mapname)}}">{{row.mapname}}</a></td>
                    <td>{{ row.runtime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No player information found.</p>
    {% endif %}

    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>