<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<div class="container">
    <a href="/">
        <h1 class="title">SURF</h1>
    </a>
    <h2 class="description">Counter-Strike Surf Community </h2>
    <nav class="nav">
        <ul>
            <li><a href="{{ url_for('servers') }}"><i class="fas fa-gamepad"></i>SERVERS</a></li>
            <li class="active"><a href="{{ url_for('top') }}"><i class="fas fa-chart-line"></i>STATS</a></li>
            <li><a href="http://join.lasagna.host"><i class="fab fa-discord"></i>DISCORD</a></li>
        </ul>
    </nav>
    <nav class="subnav">
        <ul>
            <li class="active"><a href="{{ url_for('top') }}">Top</a></li>
            <li><a href="{{ url_for('latest') }}">Latest</a></li>
            <li><a href="{{ url_for('players') }}">Players</a></li>
            <li><a href="{{ url_for('maps') }}">Maps</a></li>
        </ul>
    </nav>
    <h1>Player Data</h1>
    <div class="total-container">
        <div class="pos-box border-gold egn">
            <a href="{{ url_for('player_stats', steamid64=data[0].steamid64) }}"><h1>#1 {{ data[0].name }}</h1></a>
            <p><strong>{{data[0].points}}</strong> points</p>
            <p><strong>{{data[0].finishedmaps}}</strong> finished maps</p>
            <p><strong>{{data[0].wrs}}</strong> records</p>
        </div>
        <div class="pos-box border-silver">
            <a href="{{ url_for('player_stats', steamid64=data[1].steamid64) }}"><h1>#2 {{ data[1].name }}</h1></a>
            <p><strong>{{data[1].points}}</strong> points</p>
            <p><strong>{{data[1].finishedmaps}}</strong> finished maps</p>
            <p><strong>{{data[1].wrs}}</strong> records</p>
        </div>
        <div class="pos-box border-bronze">
            <a href="{{ url_for('player_stats', steamid64=data[2].steamid64) }}"><h1>#3 {{ data[2].name }}</h1></a>
            <p><strong>{{data[2].points}}</strong> points</p>
            <p><strong>{{data[2].finishedmaps}}</strong> finished maps</p>
            <p><strong>{{data[2].wrs}}</strong> records</p>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Points</th>
                    <th>Finished Maps</th>
                    <th>Records</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% if loop.index > 3 %}
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ url_for('player_stats', steamid64=row.steamid64) }}">{{ row.name }}</a></td>
                        <td>{{ row.country }}</td>
                        <td>{{ row.points }}</td>
                        <td>{{ row.finishedmaps }}/105</td>
                        <td>{{ row.wrs }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>